form{
    width:300px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    margin-top: 200px;
    background-color: lightskyblue;

}
form label{
    width:72px;
    font-weight:bold;
    display:inline-block;

}
form input{
    border-radius: 5px;
}
